.bg {
    overflow-x: hidden;
    color: white;
    background-color: black;
    background-size: cover;
    margin: 0vw 0vw;
    @media only screen and (max-width: 768px) {
        // height: 36vw;
        margin: 0vw 0vw !important;
    }
}

.popup {
    &:hover {
        transform: translateY(-5px);
    }
}

.card-image {
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        transform: scale(1.05);
    }
}

.landscape-poster {
    height: 18vw;
    @media only screen and (max-width: 768px) {
        height: 33vw;
    }
}

.portrait-poster {
    height: 18vw;
    @media only screen and (max-width: 768px) {
        height: 33vw;
    }
}

.carousel-topic-typography {
    font-weight: 500;
    color: white;
    margin-bottom: 0.5vh;
    font-size: 22px;
    @media only screen and (max-width: 768px) {
        font-size: 18px;
    }
}

.carousel-button {
    margin-top: 75.46px !important;
    height: 18vw;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border-color: transparent;
    justify-content: center;
    @media only screen and (max-width: 768px) {
        margin-top: 28px !important;
        height: 33vw;
    }
}

.carousel-button:hover {
    transform: scale(1.1);
}

.round-button {
    position: relative;
    border-radius: 50px;
    width: 80px;
    color: white;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 8% 10% 8% 10%;
    border-color: transparent;
    font-size: 16px;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    @media only screen and (max-width: 768px) {
        font-size: 10px;
        width: 50px;
        padding: 6% 10% 6% 10%;
    }
}

.round-button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-4px);
}

.arrow {
    color: white !important;
    width: 2vw;
    @media only screen and (max-width: 768px) {
        width: 4vw;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

#parent {
    width: 100vw;
}

#child {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sumplay-trending {
    width: 100%;
    background-color: black;
    padding: 20px 0;
    text-align: center;
    color: #747474;
    font-size: 16px;
    @media only screen and (max-width: 768px) {
        font-size: 8px;
        padding: 1px 0;
    }
}