.background {
    background-color: black;
}

.banner-image {
    z-index: 1;
    display: block;
    width: 100vw;
    position: relative;
    margin-bottom: -50px;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.banner-image-potrait {
    z-index: 1;
    display: none;
    width: 100vw;
    position: relative;
    top: -100px;
    @media only screen and (max-width: 768px) {
        display: block;
    }
}

.title-image {
    z-index: 2;
    display: block;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    @media only screen and (max-width: 768px) {
        width: 80vw;
    }
}

.banner-des {
    color: white;
    text-align: center;
    width: 35vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 110%;
    position: relative;
    z-index: 3;
    font-weight: 400;
    @media only screen and (max-width: 768px) {
        width: 80vw;
    }
}

.bannerbuttons {
    background-color: white !important;
    color: black !important;
    width: 145px !important;
    height: 40px;
    padding: 0 0 0 0 !important;
    justify-content: center;
    margin-bottom: 20px !important;
    @media only screen and (max-width: 768px) {
        margin-bottom: -140vw;
        width: 100px !important;
        height: 30px !important;
        font-size: 60% !important;
    }
}

.button-grid {
    position: relative;
    z-index: 3;
    margin-top: 50px;
    // top: -43vw;
    background: #00000000 !important;
}

.moving-up {
    margin-bottom: -40vw;
    @media only screen and (max-width: 768px) {
        margin-bottom: -140vw;
    }
}