div::-webkit-scrollbar {
    width: 20px;
}


/* Track */

div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px rgb(78, 78, 78);
    border-radius: 10px;
    margin: 60px 0 20px 0;
}


/* Handle */

div::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
    border-radius: 10px;
}


/* Handle on hover */

div::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.moviename {
    background-color: black;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 69vh;
    padding: 30px;
}

.desctitle {
    margin-bottom: 0%;
    color: #ffffff;
    font-size: 150%;
    font-weight: 500;
}

.desc {
    color: #dfdfdf;
}

.casttitle {
    color: #ffffff;
    font-weight: 500;
    font-size: 150%;
}

.castimg {
    width: 90%;
    float: left;
}

.realname {
    color: #ffffff;
    font-size: 120%;
}

.charname {
    color: #a3a3a3;
    font-size: 120%;
    font-style: italic;
}

.castnames {
    float: left;
}

.gradient {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0));
    height: 100px;
    width: 25vw;
    position: relative;
    top: -99px;
}

.movieposter {
    height: 36vh;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.movieposter:hover {
    transform: scale(1.05);
}

.movie-poster-card {
    margin-right: 2vw;
    border-radius: 2vh !important;
    margin-bottom: 2vw;
}

.recommendations {
    font-weight: 500;
    font-size: 130%;
    color: #ffffff;
    margin-left: 1vw;
}

.move-up {
    margin-left: 2vw;
    position: relative;
    top: -110px;
}

@media only screen and (max-width: 768px) {
    .recommendations {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .movie-poster-card {
        margin: 10px;
    }
    .movieposter {
        height: 25vh;
    }
}