.moviename::-webkit-scrollbar {
    width: 20px;
    position: relative;
    z-index: 5;
}


/* Track */

.moviename::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px rgb(78, 78, 78);
    border-radius: 10px;
}


/* Handle */

.moviename::-webkit-scrollbar-thumb {
    background: rgb(122, 122, 122);
    border-radius: 10px;
}


/* Handle on hover */

.moviename::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
}

.moviename {
    background-color: black;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: scroll;
    height: (100vw*7.5/12*9/16);
    margin-top: 60px;
    padding-top: 0%;
    padding-right: 5vw;
    @media only screen and (max-width: 900px) {
        padding-left: 5vw;
        height: 69vw;
        font-size: 80%;
        margin-top: 20px;
    }
}

.desctitle {
    margin-bottom: 0%;
    color: #ffffff;
    font-size: 150%;
    font-weight: 500;
}

.desc {
    color: #dfdfdf;
}

.casttitle {
    color: #ffffff;
    font-weight: 500;
    font-size: 150%;
}

.castimg {
    width: 70px;
    float: left;
}

.realname {
    text-align: left;
    margin: 0 0 0 20px;
    color: #ffffff;
    font-size: 120%;
}

.charname {
    text-align: left;
    margin: 0 0 0 20px;
    color: #a3a3a3;
    font-size: 120%;
    font-style: italic;
}

.castnames {
    float: left;
}

.gradient {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0));
    height: 100px;
    width: 25vw;
    overflow-x: hidden;
    position: relative;
    top: -99px;
    z-index: 3;
    @media only screen and (max-width: 900px) {
        width: 95vw;
    }
}

.movieposter {
    height: 36vh;
    max-width: 12vw !important;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.movieposter:hover {
    transform: scale(1.05);
}

.movie-poster-card {
    margin-right: 2vw;
    border-radius: 2vh !important;
    margin-bottom: 2vw;
}

.recommendations {
    font-weight: 500;
    font-size: 130%;
    color: #ffffff;
    margin-left: 1vw;
}

.move-up {
    margin-left: 2vw;
    position: relative;
    top: -80px;
}

@media only screen and (max-width: 768px) {
    .recommendations {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .movie-poster-card {
        margin: 10px;
    }
    .movieposter {
        height: 32vh;
        max-width: 38vw !important;
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%/* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}